.footer {
  position: unset;
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-xs);
  min-height: 152px;
  height: auto;

  @mixin larger-than $mantine-breakpoint-lg {
    flex-direction: row;
    padding-left: 315px;
  } 
}