<!DOCTYPE html>
<html>
<head>
    <title>Welcome to PlasmoQSAR!</title>
</head>
<body>
    <h1>Hey there, {{name}}!</h1>
    <p>Your receiving this because you recently registered an account at PlasmoQSAR, a web application for pEC50 and IC50% (µM).</p>
    <p>You just need to activate your account by clicking the button below and you'll be ready to go!</p>

    <a href="{{activationURL}}">Activate my account</a><br/>

    <small>This is an automated email, please do not reply.</small>
</body>
</html>